@media (max-width: 980px) {
  /* Index (hero) & Rest of pages (main) */
  .main-section {
    height: auto;
  }

  .hero-section_box-left,
  .main-section_content {
    padding: 20px;
    width: 100%;
  }

  /* Skills page */
  .main-section_skills {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Documentation pages */
  .main-section_project-gallery {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  /* Main nav */
  .hero-section_main-nav {
    display: none;
    height: 100vh;
    right: 0;
    justify-content: space-evenly;
    z-index: 2;
  }

  /* Humburger */
  .hero-section_humburger {
    position: fixed;
    right: 0;
    display: block;
    padding: 20px;
    z-index: 3;
  }

  .hero-section_humburger-btn {
    border: none;
    font-size: 2.5rem;
    color: var(--pink-strong);
    background-color: transparent;
    cursor: pointer;
  }

  /* Margin */
  .m-l-xxl {
    margin-left: 0;
  }

  /* Flex */
  .u-mobile-flex {
    display: flex;
  }

  /* Index (hero) & Rest of pages (main) */
  .hero-section_box-right {
    display: none;
  }

  .main-section_content p {
    width: 100%;
  }

  /* About page */
  .main-section_arrow-img img {
    width: 150px;
    position: relative;
    bottom: 70px;
    right: -170px;
  }

  /* Project page */
  .main-section_projects ul {
    justify-content: center;
  }
}
